/* Fonts */
@font-face {
    font-family: "Gotham Light";
    src: url(../assets/fonts/GothamSSm-Light_Web.woff2);
}

@font-face {
    font-family: "Gotham SSm";
    src: url(../assets/fonts/GothamSSm-Book_Web.woff2);
}

@font-face {
    font-family: "Gotham Medium";
    src: url(../assets/fonts/GothamSSm-Medium_Web.woff2);
}

/* General */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a,
svg,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

/* font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif; */

/* Blocks */
.page {
    height: 100vh;
    width: 100vw;
}

.first-page {
    background-image: url(../assets/img/M3-Hero-LHD-US-D.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35.5%;
    color: #fff;
}

.nav {
    width: 100%;
    padding: 11px 24px;
    height: 54px;
    font-family: "Gotham SSm", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 15.5px;
    font-weight: 500;
}

/* Elements */
.nav__item {
    display: inline;
}

.nav__logo {
    display: inline;
    width: 100px;
}

.logo-link {
    padding: 3px 8px 0 24px;
}

.logo-link__svg {
    margin: 3px 0 0 5px;
    height: 13.7px;
}

.nav__product {
    margin-top: 5px;
    padding: 6px 16px;
    border-radius: 20px;
}

.nav__product:hover {
    cursor: pointer;
    background-color: rgba(130, 130, 140, 0.85);
}

.products {
    display: inline-block;
    height: 100%;
    padding-left: 65px;
}

/* Modifiers */
.nav--light {
}

.nav__item--left {
    width: 10%;
}

.nav__item--mid {
    width: 70%;
    margin-left: 13px;
    text-align: center;
}

.nav__item--right {
    text-align: center;
    width: 10%;
}

.logo-link__svg--dark {
    fill: #000;
}

.logo-link__svg--light {
    fill: #fff;
}
