/***********\
*** Fonts ***
\***********/
@font-face {
    font-family: "Gotham Light";
    src: url(../assets/fonts/GothamSSm-Light_Web.woff2);
}

@font-face {
    font-family: "Gotham SSm";
    src: url(../assets/fonts/GothamSSm-Book_Web.woff2);
}

@font-face {
    font-family: "Gotham Medium";
    src: url(../assets/fonts/GothamSSm-Medium_Web.woff2);
}

/***********\
*** Utils ***
\***********/
.clear {
    clear: both;
}

/*************\
*** General ***
\*************/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a,
svg,
button,
h1,
h2 {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

/************\
*** Blocks ***
\************/

.page {
    height: 100vh;
    width: 100vw;
}

.first-page {
    /* display: none; */
    background-image: url(../assets/img/M3-Hero-LHD-US-D.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35.5%;
    color: #fff;
}

.second-page {
    color: #000;
}

.second-page main {
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.nav {
    position: absolute;
    width: 100%;
    padding: 10px 21.5px;
    height: 48.5px;
    font-family: "Gotham SSm", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.logo-link {
    padding: 3px 8px 0 24px;
}

.products {
    height: 100%;
    padding-left: 58.5px;
}

.title {
    padding: 27px 0 8px 0;
    font-weight: 100;
}

.spacer {
    padding-top: 570px;
}

.bottom-info {
    width: 620px;
    margin: 22.5px auto 0 auto;
    text-align: center;
}

.info {
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.dial {
    display: block;
    float: left;
    position: relative;
}

.order-btn {
    display: inline-block;
    padding: 2px 30px;
    border-radius: 32px;
    font-size: 24px;
    font-family: "Gotham Light", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

.side-menu {
    float: left;
    position: relative;
    top: 144px;
}

.showcase {
    list-style-type: none;
}

.captions {
    margin-top: 10px;
}

.arrow {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

.next-page {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
}

.previous-page {
    float: right;
    margin-right: 20px;
    margin-top: 14px;
}

.safety-info {
    display: inline-block;
    padding: 48.5px 50px;
    height: 100%;
    width: 415px;
    position: relative;
    font-family: "Gotham SSm", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    vertical-align: top;
}

.safety-info p {
    font-family: "Gotham SSm", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.safety-banner {
    display: inline-block;
    height: 100%;
    width: calc(100vw - 419px);
    background: url(../assets/img/model_3_safety_hero.png) #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -200px;
}

/**************\
*** Elements ***
\**************/
.nav__item {
    display: block;
}

.nav__logo {
    display: inline;
    width: 90px;
    padding-top: 8px;
}

.logo-link__svg {
    margin: 3px 0 0 5px;
    height: 12.3px;
}

.nav__product {
    margin-top: 4.5px;
    padding: 5.4px 14.4px;
    border-radius: 20px;
}

.nav__product:hover {
    cursor: pointer;
    background-color: rgba(130, 130, 140, 0.85);
}

.first-page__header {
    padding-top: 123.5px;
}

.title__text {
    font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
}

.bottom-info__container {
    display: inline-block;
    height: 108px;
    padding: 0 18px;
    font-family: "Gotham SSm", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    vertical-align: top;
}

.order-btn__link {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.showcase__item {
    color: #fff;
    margin: 0px;
    padding: 1.4px 4.5px 9px 4.5px;
}

.side-menu__link {
    width: 14px;
    margin-top: 9px;
    margin-left: 2px;
    padding-left: 7px;
    padding-right: 11px;
}

.showcase__item-indicator {
    width: 100%;
    padding-bottom: 4.5px;
    border-left: 1px solid #fff;
    background-color: #fff;
    opacity: 0.25;
}

.showcase__item-label {
    visibility: hidden;
    font-family: "Gotham SSm", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.side-menu__link:hover + .showcase__item-label {
    visibility: visible;
    transition: all 2s 0.2s;
}

.arrow__link {
    display: inline-block;
    height: 21px;
    width: 21px;
}

.previous-page__link {
    padding: 30px;
}

.safety-info__title {
    margin-bottom: 14px;
    font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.safety-info__secondary-title {
    font-family: "Gotham Light", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
}

.safety-rating__container {
    display: inline-block;
    height: 298px;
    width: 100%;
    padding: 24px;
    margin-top: 16px;
    background: #e2e4e4;
    color: #393c41;
    border-radius: 24px;
}

.safety-rating__head {
    display: inline-block;
    width: 100%;
    padding-bottom: 16px;
    color: #181b21;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.safety-rating__list {
    list-style-type: none;
}

.safety-rating__item {
    line-height: 21px;
    vertical-align: top;
    margin-bottom: 7.5px;
}

.rating__text {
    display: inline-block;
    width: 58%;
    vertical-align: top;
}

.rating__stars {
    display: inline-block;
    height: 100%;
    width: 40%;
    font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 187x;
    vertical-align: top;
}

.safety__about-container {
    position: absolute;
    bottom: 48.5px;
}

.learn-more__plus {
    display: inline-block;
    width: 37px;
    height: 37px;
    margin-right: 8px;
    border: 3px solid #000;
    border-radius: 32px;
    font-size: 24px;
    font-weight: 100;
}

.learn-more__text {
    display: inline-block;
}

/***************\
*** Modifiers ***
\***************/

.nav__item--left {
    float: left;
    /* width: 10%; */
}

.nav__item--mid {
    margin: 10px auto;
    /* width: 70%; */
    /* margin-left: 13px; */
    text-align: center;
}

.nav__item--right {
    float: right;
    margin-right: 9px;
    /* text-align: center;
    width: 10%; */
}

.logo-link__svg--dark {
    fill: #000;
}

.logo-link__svg--light {
    fill: #fff;
}

.products--center {
    display: inline-block;
    margin-left: 132px;
    margin-top: 1px;
}

.title--center {
    text-align: center;
}

.info__heading {
    font-size: 28px;
}

.info__heading--small {
    font-size: 24px;
}

.captions__text {
    font-family: "Gotham Light", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.dial__outer-circle,
.dial__inner-circle-wrapper,
.dial__inner-circle,
.dial__needle {
    fill: #fff;
    margin-right: 4px;
    height: 25px;
    margin-inline-end: 4px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 30px;
}

.dial__outer-circle {
    width: 41px;
    right: -5px;
    top: -3px;
}

.dial__inner-circle-wrapper {
    height: 30px;
    width: 60px;
    opacity: 0.2;
    top: -10px;
    right: 0px;
}

.dial__needle {
    width: 4px;
    transform: rotate(90deg);
    top: 7px;
    right: 5px;
}

.showcase__item-indicator--active {
    border-left: 3px solid #fff;
    opacity: 1;
}

.showcase__item-indicator--active,
.showcase__item-label--active {
    visibility: visible;
}

.arrow--up {
    transform: rotate(225deg);
    width: 13px;
    height: 13px;
}

.arrow--down {
    transform: rotate(45deg);
}

.arrow--light {
    border-right: 3.7px solid #fff;
    border-bottom: 3.7px solid #fff;
}

.arrow--dark {
    border-right: 3.7px solid #000;
    border-bottom: 3.7px solid #000;
}

.rating__text--large {
    display: block;
    color: #181b21;
    font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.rating__text--small {
    display: block;
    font-size: 8px;
    font-weight: 400;
    line-height: 8px;
}

.order-btn--light {
    border: 3px solid #fff;
}

.order-btn--light:hover {
    background-color: #fff;
    color: #000;
    transition: 0.33s ease;
}

.order-btn--dark {
    border: 3px solid #000;
}

.order-btn--dark:hover {
    background-color: #000;
    color: #fff;
    transition: 0.33s ease;
}
