/***********\
*** Fonts ***
\***********/
@font-face {
    font-family: "Gotham Light";
    src: url(../assets/fonts/GothamSSm-Light_Web.woff2);
}

@font-face {
    font-family: "Gotham SSm";
    src: url(../assets/fonts/GothamSSm-Book_Web.woff2);
}

@font-face {
    font-family: "Gotham Medium";
    src: url(../assets/fonts/GothamSSm-Medium_Web.woff2);
}

/***********\
*** Utils ***
\***********/
.clear {
    clear: both;
}

/*************\
*** General ***
\*************/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a,
svg,
button,
h1 {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

/************\
*** Blocks ***
\************/

.page {
    height: 100vh;
    width: 100vw;
}

.first-page {
    background-image: url(../assets/img/M3-Hero-LHD-US-D.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35.5%;
    color: #fff;
}

.nav {
    width: 100%;
    padding: 10px 21.5px;
    height: 48.5px;
    font-family: "Gotham SSm", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.logo-link {
    padding: 3px 8px 0 24px;
}

.products {
    height: 100%;
    padding-left: 58.5px;
}

.title {
    padding: 27px 0 8px 0;
    font-weight: 100;
}

.spacer {
    padding-top: 570px;
}

.bottom-info {
    width: 620px;
    margin: 22.5px auto 0 auto;
    text-align: center;
}

.info {
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.dial {
    display: block;
    float: left;
    position: relative;
}

.order-btn {
    padding: 2px 30px;
    border: 3px solid #fff;
    border-radius: 32px;
    font-size: 24px;
    font-family: "Gotham Light", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

.order-btn:hover {
    background-color: #fff;
    color: #000;
    transition: 0.33s ease;
}

.side-menu {
    float: left;
    position: relative;
    top: 144px;
}

/**************\
*** Elements ***
\**************/
.nav__item {
    display: block;
}

.nav__logo {
    display: inline;
    width: 90px;
    padding-top: 8px;
}

.logo-link__svg {
    margin: 3px 0 0 5px;
    height: 12.3px;
}

.nav__product {
    margin-top: 4.5px;
    padding: 5.4px 14.4px;
    border-radius: 20px;
}

.nav__product:hover {
    cursor: pointer;
    background-color: rgba(130, 130, 140, 0.85);
}

.first-page__header {
    padding-top: 75px;
}

.title__text {
    font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
}
.bottom-info__container {
    display: inline-block;
    height: 108px;
    padding: 0 18px;
    font-family: "Gotham SSm", -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    vertical-align: top;
}

.captions {
    margin-top: 10px;
}

.order-btn__link {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

}

/***************\
*** Modifiers ***
\***************/

.nav--light {
}

.nav__item--left {
    float: left;
    /* width: 10%; */
}

.nav__item--mid {
    margin: 10px auto;
    /* width: 70%; */
    /* margin-left: 13px; */
    text-align: center;
}

.nav__item--right {
    float: right;
    margin-right: 9px;
    /* text-align: center;
    width: 10%; */
}

.logo-link__svg--dark {
    fill: #000;
}

.logo-link__svg--light {
    fill: #fff;
}

.products--center {
    display: inline-block;
    margin-left: 132px;
    margin-top: 1px;
}

.title--center {
    text-align: center;
}
